/* h1 {
    color: brown;
}

#h1 {
    background-color: red;
}

.h1 {
    background-color: pink;
}

body {
    background-color: lightblue;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}  */

li,
div {
    color: rgb(177, 94, 46);
}

/* .class{
    color: rgb(177, 94, 46);
}

.class{
    color: rgb(48, 156, 151);
} */


/* css image */
body {
    background-image: url('../img/bg1.jpg');
    /* background-repeat: no-repeat; */
    /* background-repeat: right top;  */
    /* background-repeat: fixed; */
    /* background: #cfcfb2 url('../img/bg1.jpg') no-repeat left top; */
    /* background: #ff0; */
    margin: 30px;
    /* background: #4d4bd4; */
    /* margin: 0px; */

}

.nav {
    background: rgb(209, 200, 200);
    /* height: 50px; */
}

.items {
    /* background: black; */
    margin: 0px;
    height: 25px;
    list-style-type: none;
    padding-top: 25px 0;
    width: 50%;
    margin-left: auto;
    
    
}

.item {
    /* background: #25b182; */
    display: inline;
}

/* border */
.contener {
    /* border-style: solid;
    border-top-style:dashed ;
    border-color: red;
    border-width: 3px; */
    border: 5px solid rgb(39, 35, 35);
    border-radius: 18px;
    /* margin-top: 34px;
    margin-right: 94px;
    margin-left: 94px; */
    /* margin: 30px 40px 50px 0; */
        /* top right bottom left */
        margin: inherit;
        padding: 50px;
        width: 50%;
        height: 200px;
        color: black;
        text-align: center;
        font-size: initial;
        font-family: sans-serif;

}
.a{
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: white;
    margin: 0 16px;
    /* font-size: ; */

}
a:hover{
    background-color: rgb(182, 15, 57);
    color: black;
    font-size: 1.5em;
}
